.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 30px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.registerTitle {
  color: slateblue;
  font-size: 24px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  border: none;
  border-bottom: 1px solid gray;
  padding: 0px 3px;
  font-size: 16px;
  margin-top: 20px;
}

.sendRegisterButton {
  margin-top: 30px;
  font-size: 18px;
  border: none;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: slateblue;
  cursor: pointer;
}

.success {
  font-size: 14px;
  color: rgb(5, 196, 5);
  margin-top: 10px;
}

.failure {
  font-size: 14px;
  color: crimson;
  margin-top: 10px;
}

.registerCancel {
  position: absolute;
  top: 15px;
  right: 15px;
  color: slateblue;
  cursor: pointer;
}
